.App {
    overflow: hidden;
    color: #242d49;
    padding: 0 10px;
    background: #f3f3f3;
}

.blur {
    position: absolute;
    width: 20rem;
    height: 12rem;
    border-radius: 50%;
    background: #f9a225;
    filter: blur(70px);
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: transparent 2px;
    border-radius: 0.5rem;
    background: linear-gradient(98.63deg, #C3E873 0%, #7DC087 100%);
    transition: all 100ms ease-out;
}
.button:hover {
    cursor: pointer;
    color: #7DC087;
    background: transparent;
    border: 2px solid #7DC087;
}

::-webkit-scrollbar {
    display: none;
}

svg {
    transition: all 100ms ease-out;
}

svg:hover {
    cursor: pointer;
    transform: scale(1.2);
}